@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Champagne+%26+Limousines&family=Simplified+Arabic+Fixed&family=Tw+Cen+MT&display=swap');
@theme {
  /* 1. Define the Keyframes */
  @keyframes movement {
    0% { transform: translate(-100%, 0) rotate(0deg); }
    11% { transform: translate(-60%, -200px) rotate(40deg); }
    22% { transform: translate(-40%, -100px) skew(10deg) rotate(80deg); }
    33% { transform: translate(-10%, -50px) skew(10deg) rotate(120deg); }
    44% { transform: translate(20%, 0px) skew(10deg) rotate(160deg); }
    55% { transform: translate(50%, 500px) skew(10deg) rotate(200deg); }
    66% { transform: translate(80%, 100) skew(-10deg) rotate(240deg); }
    77% { transform: translate(110%, 50px) skew(-10deg) rotate(280deg); }
    88% { transform: translate(130%, 0px) rotate(320deg); }
    100% { transform: translate(150%, 0px) rotate(360deg); }
  }

  /* 2. Create the utility variable */
  --animate-movement: movement 25s linear infinite;
  --MBlack: #071E22;
  --MRed: #840032;
  --Mgreen: #73877B;
  --Mcream: #F4ECD6;
  --gradient:linear-gradient(90deg, transparent 0%, var(--MRed) 70%, transparent 100%);
  --gradientT:linear-gradient(90deg, transparent 0%, var(--MBlack) 70%, transparent 100%);
  --gradientTh:linear-gradient(90deg, transparent 0%, var(--Mcream) 70%, transparent 100%);
  
  --font-TW: 'Tw Cen MT', sans-serif;
  --font-SA: 'Simplified Arabic Fixed', sans-serif;
  --font-CL: 'Champagne & Limousines', sans-serif;
}

@layer utilities {
  /* Ensure MenuList transitions work smoothly */
  .MenuList {
    @apply transition-transform duration-300 ease-in-out;
  }
}